/* Estilo geral da página */
body {
  font-family: Arial, sans-serif;
  background-color:#ac37d6;
  margin: 0;
  padding: 20px;
  text-align: center;
  color: #fff;
}

/* Título principal */
h1 {
  margin-bottom: 30px;
  text-shadow: 2px 2px #1e6f45;
}

/* Container da galeria */
.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espaçamento entre os alunos */
}

/* Cada item (aluno) */
.aluno {
  background-color: #ffffff20;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  transition: transform 0.3s;
  cursor: pointer;
}

/* Imagem dos alunos */
.aluno img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s;
}

/* Nome do aluno */
.aluno p {
  color: #fff;
  font-weight: bold;
  margin-top: 10px;
}

/* Ao clicar na imagem, ela diminui */
.aluno:active img {
  transform: scale(0.8);
}

/* Efeito ao passar o mouse */
.aluno:hover {
  transform: scale(1.05);
  background-color: #ffffff30;
}




